<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>syLibrary</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>login.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>member.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>/member_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>admin.login.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/admin_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdmemberController</servlet-name>
    <servlet-class>member.AdmemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmemberController</servlet-name>
    <url-pattern>/admember_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookController</servlet-name>
    <servlet-class>admin.book.BookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController</servlet-name>
    <url-pattern>/book_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoanBookController</servlet-name>
    <servlet-class>admin.l_book.LoanBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoanBookController</servlet-name>
    <url-pattern>/loanBook_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReBookController</servlet-name>
    <servlet-class>admin.l_book.ReBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReBookController</servlet-name>
    <url-pattern>/rebook_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyLibraryController</servlet-name>
    <servlet-class>myLibrary.MyLibraryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyLibraryController</servlet-name>
    <url-pattern>/myLibrary_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>search.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/search_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckoutController</servlet-name>
    <servlet-class>checkout.CheckoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutController</servlet-name>
    <url-pattern>/checkout_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecordController</servlet-name>
    <servlet-class>admin.l_book.RecordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordController</servlet-name>
    <url-pattern>/record_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmailController</servlet-name>
    <servlet-class>admin.l_book.EmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailController</servlet-name>
    <url-pattern>/email_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewController</servlet-name>
    <servlet-class>review.ReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewController</servlet-name>
    <url-pattern>/review_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoController</display-name>
    <servlet-name>MemoController</servlet-name>
    <servlet-class>admin.memo.MemoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoController</servlet-name>
    <url-pattern>/memo_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResBookController</servlet-name>
    <servlet-class>checkout.ResBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResBookController</servlet-name>
    <url-pattern>/res_book_servlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartController</display-name>
    <servlet-name>ChartController</servlet-name>
    <servlet-class>admin.chart.ChartController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RecmdController</servlet-name>
    <servlet-class>recommend.RecmdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecmdController</servlet-name>
    <url-pattern>/home/*</url-pattern>
  </servlet-mapping>
</web-app>